/*=============== POPULAR ===============*/
.popular{
   &__container{
      grid-template-columns: 100%;
      row-gap: 3rem;
      padding-bottom: 2rem;
   }
   &__data .section__title{
      margin-bottom: 1rem;
   }
   &__description{
      text-align: center;
   }
   &__swiper{
      position: relative;
   }
   &__dish{
      width: 220px;
      filter: var(--shadow-big-img);
      position: absolute;
      inset: 0;
      top: -.85rem;
      margin-inline: auto;
   }
   &__card,
   &__img{
      width: 200px;
   }
   &__img{
      transform: scale(.8) rotate(-90deg);
      transition: transform .4s;
   }
   &__title{
      font-size: var(--h3-font-size);
      color: var(--first-color);
      margin-top: 2rem;
      text-align: center;
      opacity: 0;
      transition: opacity .4s;
   }
}

/* Swiper class */
.swiper{
   margin-inline: initial;
   overflow: visible;
}

:is(.swiper-slide-active, .swiper-slide-duplicate-active) .popular__img{
   transform: scale(1) rotate(0);
}

:is(.swiper-slide-active, .swiper-slide-duplicate-active) .popular__title{
   opacity: 1;
}
